$A-City-bicycle-fixed-gear-on-yellow-wall-1-hex: #BF3641;
$A-City-bicycle-fixed-gear-on-yellow-wall-2-hex: #BF9F3F;
$A-City-bicycle-fixed-gear-on-yellow-wall-3-hex: #F2D06B;
$A-City-bicycle-fixed-gear-on-yellow-wall-4-hex: #F2DC9B;
$A-City-bicycle-fixed-gear-on-yellow-wall-5-hex: #D9C6B0;

/* Color Theme Swatches in RGBA */
$A-City-bicycle-fixed-gear-on-yellow-wall-1-rgba: rgba(191,53,65, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-2-rgba: rgba(191,159,63, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-3-rgba: rgba(242,208,106, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-4-rgba: rgba(242,220,155, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-5-rgba: rgba(216,198,175, 1);

/* Color Theme Swatches in HSLA */
$A-City-bicycle-fixed-gear-on-yellow-wall-1-hsla: hsla(354, 56, 48, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-2-hsla: hsla(45, 50, 49, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-3-hsla: hsla(45, 84, 68, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-4-hsla: hsla(44, 77, 77, 1);
$A-City-bicycle-fixed-gear-on-yellow-wall-5-hsla: hsla(33, 34, 76, 1);